body.page
  section.hero
    height 480px
    // background-color $primary
    background linear-gradient(to top, $secondary, darken($primary, 30%))
    display flex
    align-items center
    justify-content center
    position relative
    overflow hidden
    .wrapper
      width: 100%
      max-width 1000px
      margin: 0 auto
    .hero__heading-container
      text-align center
      color $white
      .hero__title
        font-size 4em
        font-weight 300
      .hero__subtitle
        width 80%
        margin 0 auto
        font-size 1.75em
        font-weight 200
        position relative
        overflow hidden
        &:before, &:after
          content none
        @media desktop
          &:before, &:after
            content ''
            height 1px
            background-color $white
            position absolute
            width 100%
            top 50%
            left -85%
          &:after
            left 85%
  
  section.content
    background-color $light-1
    padding: 6em 0
    color $dark
    .wrapper
      width: 100%
      max-width 800px
      margin: 0 auto
    h2
      font-weight 600
      font-size 5rem
      margin-bottom 1em
      position: relative
      text-align center
      margin-top: 2em
      &:first-child
        margin-top 0
      &:after
        content ''
        position absolute
        bottom -0.35em
        width 100px
        left 50%
        margin-left -50px
        background-color $orange
        padding: 3px
    p 
      text-align justify
      font-size 1.25em
      font-weight 300
      > span
        font-weight 300 !important