body.page-donate-now
  section.content
    .wrapper
      max-width 900px
    h3
      font-weight: 600
      margin-bottom 1em
      font-size: 2em
    form.paypal-form
      margin-top 5rem
      display: flex
      justify-content: center
      transform: scale(1.2)