body.page-home #main
  section
    .section-content, .section-cta
      width: 100%
      max-width 800px
      margin 0 auto
      
  section.hero
    height 680px
    background transparent
    display flex
    align-items center
    justify-content center
    position relative
    overflow hidden
    .wrapper
      width: 100%
      max-width 1000px
      margin: 0 auto
    .hero__backgrounds
      // position absolute
      position fixed
      top: -50%
      left: -50%
      width: 200%
      // height: 200%
      // height: (680px * 2)
      height 200%
      overflow hidden
      z-index -1
      &:after
        content: ''
        position: absolute
        top 0
        left 0
        right 0
        bottom 0
        background-color rgba($black, 0.5)
        z-index -1
      img
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        margin auto
        min-width 50%
        min-height 50%
        overflow-x hidden
        opacity 0
        z-index -5
        transition opacity 500ms ease-in-out
        &.shown
          opacity 1
          z-index -2
    .hero__heading-container
      background-color rgba($black, 0.3)
      position relative
      padding: 3em 1em
      padding-bottom 7em
      text-align center
      color $white
      @media tablet
        padding-bottom 5em
      .hero__title
        font-size 3em
        font-weight 600
      .hero__subtitle
        font-size 1.75em
        font-weight 200
        opacity 0
        pointer-events none
        position absolute
        width 100%
        max-width 955px
        left 0
        transition 500ms ease-in-out 500ms
        &:before, &:after
          content none
        &.shown
          opacity 1
          pointer-events all
          display block
          
  section.about
    background-color $light-1
    padding: 6em 0
    color $dark
    .section-content
      h4
        font-weight 600
        margin-top 2em
      p
        font-size 1em
        padding 1em 0
        line-height 1.85
      p > span
        font-weight 300 !important
  
  section.retreat
    background-color $dark
    padding: 6em 0
    color: $light-1
    .section-content
      @media desktop
        padding-top 1em
        max-width none
        display flex
      .retreat__copy
        @media desktop
          padding-right 2em
          font-size 0.9em
          line-height 1.8
      .retreat__video
        position relative
        width: 100%
        height 0
        max-width 560px
        margin 0 auto
        padding-bottom 56.25%
        @media tablet
          padding-bottom ((500 / 800) * 56.25% + 4%)
        @media desktop
          min-width 400px
          padding-bottom 23.5%
        iframe
          position absolute
          width 100%
          height 100%;
          left 0
          top 0
          border-radius 0.5em
          box-shadow 0 50px 50px -40px rgba($black, 0.5)
          transform scale(0.99)
          transition 200ms ease-in-out
          &:hover
            transform scale(1)
            box-shadow 0 60px 70px -55px rgba($black, 0.5)
    .section-cta
      padding-top 3em
      .button-cta
        color rgba($white, 0.6)
        &:hover
          border-color $primary
          background-color rgba($primary, 0.05)
          color $white

  section.register-cta
    background-color $primary
    padding: 6em 0
    text-align center
    .section-content
      display flex
      justify-content center
      align-items center
    .register__button
      color $white
      border 4px solid $white
      background-color transparent
      font-size 1.25em
      display block
      margin 0
      height auto
      font-weight 500
      padding 0.75em 1.5em
      border-radius 10em
      transition 200ms ease-in-out
      @media phablet
        font-size 1.5em
      @media tablet
        font-size 1.75em
      &:hover
        background-color $white
        color $primary
  
  section.testimonials
    background-color $light-2
    padding: 6em 0
    color $dark
    .wrapper
      padding 0
      @media tablet
        padding 0 1.5em
    .section-content
      padding-top 2em
      .hms-testimonial-container
        background-color $light-1
        padding 3em 1.5em
        display flex
        flex-wrap wrap
        justify-content center
        align-items center
        @media tablet
          padding 3em
        .image
          object-fit cover
          object-position top
          border-radius 50%
          box-shadow 0 0 1em rgba($black, 0.25)
          @media tablet
            margin-right 1em
        .author
          line-height 1
          font-size 0.8em
          padding-top 1.5em
          width 100%
          text-align center
          @media tablet
            padding-top 0
            width initial
            text-align left
          strong
            font-size 1.5em
            font-weight 600
        .testimonial
          padding-top: 2em
      .controls
        display flex
        justify-content center
        a
          text-decoration none
          font-size 1.5em
          padding: 0.25em 0.75em
          margin-top 1rem
          font-weight 600
          color $dark
          background-color transparent
          border-radius 0.35em
          transition 200ms ease-in-out
          &:hover
            // color $primary
            background-color darken($light-1, 5%)
        .playpause
          padding-top 0.65em
        .prev, .next
          font-size 2em
          margin-bottom 0.125em
        