body.home
  #main
    section.hero
      height 680px
      background-color transparent
      display flex
      align-items center
      justify-content center
      position relative
      overflow hidden
      .wrapper
        width: 100%
        max-width 1000px
        margin: 0 auto
      .hero__backgrounds
        // position absolute
        position fixed
        top: -50%
        left: -50%
        width: 200%
        height: 200%
        // height: (800px * 2)
        overflow hidden
        z-index -1
        &:after
          content: ''
          position: absolute
          top 0
          left 0
          right 0
          bottom 0
          background-color rgba($black, 0.5)
          z-index -1
        img
          display none
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          margin auto
          min-width 50%
          min-height 50%
          overflow-x hidden
          z-index -2
          &:nth-child(1)
            display block
      .hero__heading-container
        background-color rgba($black, 0.3)
        padding: 3em 1em
        text-align center
        color $white
        .hero__title
          font-size 3em
          font-weight 600
        .hero__subtitle
          font-size 1.75em
          font-weight 200
          display none
          &:nth-of-type(1)
            display block
            
    section.about
      background-color $light-1
      padding: 6em 0
      color $dark
      .section-content
        width: 100%
        max-width 800px
        margin 0 auto
        h4
          font-weight 600
          margin-top 2em
        p > span
          font-weight 300 !important
    
    section.retreat
      background-color $dark
      padding: 6em 0
      color: $light-1
      .section-content
        width: 100%
        max-width 800px
        margin 0 auto
        .retreat__copy
          // span(1/2)
        .retreat__video
          text-align center
          padding: 2em 0
          iframe
            border-radius 0.5em
            box-shadow 0 50px 50px -40px rgba($black, 0.5)
            transform scale(0.99)
            transition 200ms ease-in-out
            &:hover
              transform scale(1)
              box-shadow 0 60px 70px -55px rgba($black, 0.5)
          // float: right
          // span(1/2)
    
    section.register-cta
      background-color $primary
      padding: 6em 0
      text-align center
      .section-content
        display flex
        justify-content center
        align-items center
      .register__button
        color $white
        border 4px solid $white
        background-color transparent
        font-size 2em
        display block
        margin 0
        height auto
        font-weight 500
        padding 0.75em 1.5em
        border-radius 10em
        transition 200ms ease-in-out
        &:hover
          background-color $white
          color $primary
    
    section.testimonials
      background-color $light-2
      padding: 6em 0
      color $dark
      .section-content
        padding-top 2em
        width: 100%
        max-width 800px
        margin 0 auto
        .hms-testimonial-container
          background-color $light-1
          padding 3em
          display flex
          flex-wrap wrap
          justify-content center
          align-items center
          .image
            object-fit cover
            object-position top
            border-radius 50%
            margin-right 1em
            box-shadow 0 0 1em rgba($black, 0.25)
          .author
            line-height 1
            font-size 0.8em
            strong
              font-size 1.5em
              font-weight 600
          .testimonial
            padding-top: 2em
        .controls
          display flex
          justify-content center
          a
            text-decoration none
            font-size 1.5em
            padding: 0.25em 0.75em
            margin-top 1rem
            font-weight 600
            color $dark
            background-color transparent
            border-radius 0.35em
            transition 200ms ease-in-out
            &:hover
              // color $primary
              background-color darken($light-1, 5%)
          .playpause
            padding-top 0.65em
          .prev, .next
            font-size 2em
            margin-bottom 0.125em
        