body.page-lr2017-payment
  section.content
    .wrapper
      max-width 900px
    form.paypal-form
      padding-top 3em
      text-align center
      table
        width 100%
        td
          text-align center
        tr:first-child td
          font-family 'Lato', sans-serif
          font-weight 700
          font-size 1.5em
      p
        text-align center
      input[type='image']
        margin-top -3em