* 
  box-sizing border-box
  
body
  overflow-x hidden
  font-size 1.25em
  @media phablet
    font-size 1.4em
  @media tablet
    font-size 1.5em
  
section, footer
  > .wrapper
    width: 100%
    max-width: 1000px
    margin: 0 auto
    padding: 0 1.5em
  .section-heading
    text-align center
    h2
      font-weight 600
      font-size 5rem
      margin-bottom 1em
      position: relative
    &.heading--underline h2:after
      content ''
      position absolute
      bottom -0.35em
      width 100px
      left 50%
      margin-left -50px
      background-color $orange
      padding: 3px
  .section-content
    font-size 1.25em
    font-weight 300
    text-align justify
  .section-cta
    text-align center
    .button-cta
      background-color transparent
      transition 200ms ease-in-out
      &:hover
        border-color $orange
        background-color rgba($orange, 0.05)
        