.site-footer
  background-color $dark
  text-align center
  padding 5em 0
  .footer__icon--svg
    padding-bottom 2em
    .a
      fill: $primary
  .footer__copyright
    color $white
    font-size 1.25em
    font-weight 300
    a
      color $white
      text-decoration none
      font-weight 500
      &:hover
        text-decoration underline