.site-header
  position fixed
  left 0
  right 0
  top 0
  z-index 10
  background-color transparent
  transition: 200ms ease-in-out
  > .wrapper
    display flex
    align-items center
    padding 0
    margin 1em
    justify-content center
    @media desktop
      justify-content space-between
      padding: 1em 2em
      margin 0
  .site-branding
    height 48px
    position relative
    transition: height 100ms ease-in-out
    //mobile
    display flex
    align-items center
    justify-content space-between
    width 100%
    @media desktop
      height 72px
      display block
      width initial
      .hamburger-menu
        display none
    > a
      display block
      height 100%
  .site-logo
    height 100%
  
  .main-navigation
    // width 100%
    left 1.5em
    right 1.5em
    margin-top 1em
    position: absolute
    top 60px
    opacity: 0
    pointer-events none
    z-index -1
    transform scaleY(0)
    transform-origin top
    transition transform 200ms cubic-bezier(0.56, 0.19, 0.4, 1.52)
    @media desktop
      opacity 1
      pointer-events all
      z-index 1
      transform scaleY(1)
      width initial
      margin 0
      position initial
    &.open
      opacity 1
      pointer-events all
      z-index 1
      transform scaleY(1)
    .menu
      list-style none
      margin-bottom: 0
      display block
      @media desktop
        display flex
      li
        margin-bottom 0
        border-bottom 1px solid lighten($dark, 10%)
        @media desktop
          border none
        &:first-child
          border-top 1px solid lighten($dark, 10%)
          @media desktop
            border none
        > a
          font-size: 0.75em
          font-family: "Lato"
          font-weight: 800
          text-transform: uppercase
          letter-spacing: 1px
          color: rgba($white, 0.6)
          text-decoration: none
          white-space: nowrap
          // mobile
          width 100%
          text-align center
          display block
          margin 0
          padding 1.25em 0
          border-bottom none
          background-color $dark
          position relative
          transition: all 200ms ease-in-out
          &:after
            content ''
            height 2px
            width 0%
            // opacity: 0
            background white
            position absolute
            bottom -0.35em
            left 50%
            transform translateX(-50%)
            transition width 200ms ease-in-out
          @media desktop
            width initial
            display inline
            margin: 0 0 0 2em
            padding-bottom 0.5em
            background-color transparent
          &:hover
            color: $white
            padding-bottom 1.25em
            border-bottom none
            @media desktop
              padding-bottom 0.5em
              &:after
                width 100%
        &.current_page_item > a
          color $white
        &:last-child > a
          font-size: 0.75em
          font-family: "Lato"
          font-weight: 600
          text-transform: uppercase
          letter-spacing: 1px
          margin: 0 0 0 2em
          padding-bottom: 0em
          color: rgba($white, 0.6)
          background-color $dark
          padding: 0.75em 1.25em
          border-radius 10em
          text-decoration: none
          white-space: nowrap
          border: none
          transition: all 200ms ease-in-out
          // mobile
          margin 0
          border-radius 0
          padding 1.25em 0
          &:after
            content none
          @media desktop
            color: $white
            background-color: $blue
            margin 0 0 0 2em
            border-radius 10em
            padding 0.75em 1.25em
          &:hover
            color: $white
            border-bottom none
            @media desktop
              background-color darken($blue, 10%)
            
// sticky header
.site-header.sticky
  background-color rgba($black, 0.4)
  .site-branding
    height 48px
  .main-navigation
    .menu li:not(.current_page_item) > a:hover
      color $green

body.home .site-header
  .main-navigation
    .menu li:not(:last-child) > a:hover
      color $green

body.admin-bar .site-header
  position fixed
  left 0
  right 0
  top 0
  @media (min-width 600px)
    top 46px
  @media (min-width 782px)
    top 32px
    
// following cta
.following-cta
  position fixed
  display block
  right 0
  top 30vh
  transform rotate(-90deg) translate(0, 128%)
  background-color darken($primary, 15%)
  z-index 999
  transition 200ms ease-in-out
  &.hide
    display none
  &:hover
    background-color darken($primary, 10%)
  a
    display block
    padding 0.5em 1.75em
    color $white
    text-decoration none
    text-transform uppercase
    letter-spacing 2px
    font-weight 300